---
const { data } = Astro.props;
console.log(data);
---

  <article class="speaker">

  <h4>{data.job}</h4>
  <img src={data.img} />

<div class="flexdiv">
  <div class="tekstside">
    <h3>{data.name}</h3>
    <p>{data.description}</p>
  </div>
  <div class="knapside">
    <a href={`singleview/${data.slug}`}>
    <button class="card-button"> <img src="/ikoner/chevron-right.svg" class="pil"> </button><a></a>
    </a>
  </div>
</div>
</article>


<style>
 

  article {
    width: 470px;
    height: 490px;
    margin: 0;
    padding: 0;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    margin: 20px;
    padding: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
background: #6A99AC;
margin-right: 2px;
  }

  img {
    width: 300px;
flex-shrink: 0;
border-radius: 300px;
/* background: lightgray 50% / cover no-repeat; */
justify-self: center;
display: block;
margin: auto;
filter: grayscale(100%);
}

h3 {
  color: #FFF;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

  h4 {
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: italic;
font-weight: 300;
line-height: 30px; /* 200% */
  }

p{
  color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

  .flexdiv{
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  .knapside {
    align-self: flex-end;
    margin-top: auto; /* Skub knappen til bunden af flex-containeren */
    max-width: 100%; /* Knappens bredde vil ikke overskride kortets bredde */
    max-height: 100%; /* Knappens højde vil ikke overskride kortets højde */
    bottom: 10px; /* Afstand fra bunden af kortet */
    right: 10px; 
    cursor: pointer;
  }

  .card-button {
    width: 94px;
height: 90px;
background: #81D6D4;
border: 0;
  }

  .pil {
    width: 65px;
  }

</style>
