---
const { data } = Astro.props;
console.log(data);
---

  <article class="speaker">
  <h4>{data.job}</h4>
  <img src={data.img} />

<div class="flexdiv">
  <div class="tekstside">
    <h3>{data.name}</h3>
    <p>{data.description}</p>
  </div>
  <div class="knapside">
    <a href={`singleview/${data.slug}`}>
    <button class="card-button"> Read more</button><a></a>
    </a>
  </div>
</div>
</article>


<style>

 
  article {
    margin: 0;
    padding: 0;
    width: 350px;
    /* border-radius: 8px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    height:500px;

    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
background: #6A99AC;

  }

  img {
    width: 300px;
flex-shrink: 0;
border-radius: 300px;
background: lightgray 50% / cover no-repeat;
justify-self: center;
display: block;
margin: auto;
filter: grayscale(100%);
}

h3 {
  color: #FFF;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

  h4 {
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: italic;
font-weight: 300;
line-height: 30px; /* 200% */
  }

p{
  color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* 
    .card-button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #3f4f79;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #0e91ef;
  } */

  .flexdiv{
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  .knapside {
    align-self: flex-end;
    margin-top: auto; /* Skub knappen til bunden af flex-containeren */
    max-width: 100%; /* Knappens bredde vil ikke overskride kortets bredde */
    max-height: 100%; /* Knappens højde vil ikke overskride kortets højde */
    bottom: 10px; /* Afstand fra bunden af kortet */
    right: 10px; 
    cursor: pointer;

  }

</style>
