---
const { data } = Astro.props;
console.log(data);
---

<article class="speaker">
  <h4>{data.job}</h4>
  <img src={data.img} />
  <h3>{data.name}</h3>
  <p>{data.description}</p>
  <a href={data.slug}>Read more</a>
</article>

<style>
  article {
    border: 1px;
    border-style:solid;
    color: black;
    height: 50%;
    width: 50%;
  }

  h4 {
    font: 200;
  }

  img {
    max-width: 100%;
    width: ;
  }
</style>
