---
const ticket = Astro.props.ticket;
const price = Astro.props.price;
const image = Astro.props.image;
const text = Astro.props.text;
const early = Astro.props.early;
---

<div class="ticketcard">
  <div class="tickettext">
    <h1>{ticket}</h1>
    <p>{early}</p>
    <h4>{price}</h4>
    <p>{text}</p>
    <button>More info</button>
  </div>
  <div class="ticketimage">
    <img src={image} alt="ticketimg" />
  </div>
</div>

<style>
  img {
    background: #99b7c2;
  }

  h1 {
    color: #13293d;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  button {
    display: inline-flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #81d6d4;
    border-style: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .ticketimage {
    border-radius: 30px;
    background: #99b7c2;
    text-align: center;
    padding: 2%;
    width: 237px;
    height: 210px;

  }

  .ticketcard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

.ticketimage{
  grid-column: 1/2;
}

.tickettext{
  grid-column: 2/3;
}
</style>
